*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}
a{
    color: #fff;
    text-decoration: none;
}
ul{
    list-style: none;
}

$primary-color : #5d5dff;
$default-color : #ffffff;
$default-color2 : #000000;
$default-color3 : #e6e6e691;
$footer-color : #080824;
