@import "resets";

nav{
    width : 100%;
    height : 70px;
    background-color: $default-color3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .logo{
        img{
            width: 50%;
        }
    }

    ul{
        display: none;
    }

    .hamburger{
        width: 30px;
        display: block;
        height: 35px;

        .line{
            width: 100%;
            height: 5px;
            background-color: $default-color2;
            margin-top: 4px;
        }
    }
    
}

header{
    width: 100%;
    padding: 1rem 10px;
    height: calc(100vh + 70px);
    background-color: $primary-color;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    .heroText{
        text-align: center;
        color: $default-color;
        margin: 1.3rem 0;

        h1{
            font-weight: bold;
            margin: 1rem 0;
        }
        p{
            margin: 1rem 0;
            font-size: smaller;
            font-weight: lighter;
        }
        .appStore{
            display: block;
            width: 150px;
            height: 45px;
            border: none;
            outline: none;
            color: $primary-color;
            background: $default-color;
            border-radius: 10px;
            margin: 1rem 0;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
        .playStore{
            @extend .appStore;
            background: transparent;
            border: 2px solid $default-color;
            color: $default-color;
        }
    }
    .heroImg{
        margin: 1.3rem 0;
        img{
            width: 95%;
        }
    }
}

#features{
    width: 100%;
    height: fit-content;
    padding: 10px;
    background: $default-color3;
    text-align: center;

    h5{
        margin: 0.5rem 0;
        color: $primary-color;
        font-weight: bold;
    }
    h2{
        font-weight: bold;
        margin: 0.5rem 0;
    }

    p{
        color: grey;
        margin: 1rem 0 2rem 0;
    }

    .gridContainer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 280px);
        text-align: left;
        grid-gap: 1rem;

        .col{
            background: $default-color;
            border-radius: 10px;
            padding: 1.5rem;

            h4{
                margin: 1rem 0;
            }
        }
    }
}

#testimonial{
    width: 100%;
    height: 90vh;
    background-color: $primary-color;
    padding: 1rem;
    color: $default-color;
    text-align: center;

    &>h2{
        margin: 1rem;
    }

    &>p{
        margin: 1rem;
    }
    .flexContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        .col{
            text-align: center;
            p:nth-child(1){
                font-weight: bolder;
                font-size: 35px;
            }
        }
    }
}

#pricing{
    width: 100%;
    height: fit-content;
    padding: 10px;
    background: $default-color3;
    text-align: center;

    h5{
        margin: 0.5rem 0;
        color: $primary-color;
        font-weight: bold;
    }
    h2{
        font-weight: bold;
        margin: 0.5rem 0;
    }

    p{
        color: grey;
        margin: 1rem 0 2rem 0;
    }
}
.bottomNav{
    position: fixed;
    background-color: $primary-color;
    top: 90%;
    right: 1rem;
    width: 45px;
    height: 45px;
    border-radius: 10px;
}